<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="resources/favicon.ico">
    <link rel="stylesheet" href="style.css">
    <script src="script.js" defer></script>
    <title>Virtual Band</title>
</head>

<body>

    <div class="band">
        <div class="pad" data-sound="clap"><img src="./resources/clap.png" alt="clap"></div>
        <div class="pad" data-sound="hihat"><img src="./resources/hihat.png" alt="crash"></div>
        <div class="pad" data-sound="open-hihat"><img src="./resources/open-hihat.png" alt="oh"></div>
        <div class="pad" data-sound="kick"><img src="./resources/kick.png" alt="kick"></div>
    </div>

    <audio data-key="clap" src="sounds/clap.wav"></audio>
    <audio data-key="hihat" src="sounds/hihat.wav"></audio>
    <audio data-key="kick" src="sounds/kick.wav"></audio>
    <audio data-key="open-hihat" src="sounds/open-hihat.wav"></audio>
    <audio data-key="boom" src="sounds/boom.wav"></audio>
    <audio data-key="ride" src="sounds/ride.wav"></audio>
    <audio data-key="snare" src="sounds/snare.wav"></audio>
    <audio data-key="tom" src="sounds/tom.wav"></audio>
    <audio data-key="tink" src="sounds/tink.wav"></audio>

</body>

</html>