<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="resources/favicon.ico">
    <link rel="stylesheet" href="style.css">
    <script src="script.js" defer></script>
    <title>Virtual Band</title>
</head>

<body>

    <div class="band">
        <div class="pad" data-sound="piano">
            <div class="piano">
                <div data-sound="C" class="piano-key white"></div>
                <div data-sound="Db" class="piano-key black"></div>
                <div data-sound="D" class="piano-key white"></div>
                <div data-sound="Eb" class="piano-key black"></div>
                <div data-sound="E" class="piano-key white"></div>
                <div data-sound="F" class="piano-key white"></div>
                <div data-sound="Gb" class="piano-key black"></div>
                <div data-sound="G" class="piano-key white"></div>
                <div data-sound="Ab" class="piano-key black"></div>
                <div data-sound="A" class="piano-key white"></div>
                <div data-sound="Bb" class="piano-key black"></div>
                <div data-sound="B" class="piano-key white"></div>
            </div>
        </div>
        <div class="pad" data-sound="clap"><img src="./resources/clap.png" alt="clap"></div>
        <div class="pad" data-sound="hihat"><img src="./resources/hihat.png" alt="crash"></div>
        <div class="pad" data-sound="open-hihat"><img src="./resources/open-hihat.png" alt="oh"></div>
        <div class="pad" data-sound="kick"><img src="./resources/kick.png" alt="kick"></div>
        <div class="pad" data-sound="snare"><img src="./resources/snare.png" alt="kick"></div>
    </div>

    <audio data-key="clap" src="sounds/clap.wav"></audio>
    <audio data-key="hihat" src="sounds/hihat.wav"></audio>
    <audio data-key="open-hihat" src="sounds/open-hihat.wav"></audio>
    <audio data-key="kick" src="sounds/kick.wav"></audio>
    <audio data-key="snare" src="sounds/snare.wav"></audio>

    <audio data-key="C" src="notes/C.mp3"></audio>
    <audio data-key="Db" src="notes/Db.mp3"></audio>
    <audio data-key="D" src="notes/D.mp3"></audio>
    <audio data-key="Eb" src="notes/Eb.mp3"></audio>
    <audio data-key="E" src="notes/E.mp3"></audio>
    <audio data-key="F" src="notes/F.mp3"></audio>
    <audio data-key="Gb" src="notes/Gb.mp3"></audio>
    <audio data-key="G" src="notes/G.mp3"></audio>
    <audio data-key="Ab" src="notes/Ab.mp3"></audio>
    <audio data-key="A" src="notes/A.mp3"></audio>
    <audio data-key="Bb" src="notes/Bb.mp3"></audio>
    <audio data-key="B" src="notes/B.mp3"></audio>

</body>

</html>