* {
  margin: 0;
  padding: 0;
}

body {
  background: #282828;
}

.band {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}

.pad {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  flex: 1 0 calc(50% - 20px);
  background: radial-gradient(#959695, #222222);
  pointer-events: none;
  border-radius: 10px;
}

.pad.active {
  background: radial-gradient(#51be63, #0e8021);
  pointer-events: auto;
}

.pad.inactive {
  background: radial-gradient(#959695, #222222);
  pointer-events: none;
}

.pad.busy {
  background: radial-gradient(#cc5a5a, #be1313);
  pointer-events: none;
}

.pad img {
  width: 150px;
  pointer-events: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.piano {
  display: inline-flex;
  border-color: black;
  border-style: solid;
  border-width: 15px;
  border-top-width: 40px;
}

.piano-key {
  height: calc(var(--width) * 4);
  width: var(--width);
}

.white {
  --width: 80px;
  background-color: white;
  border: 1px solid #333;
}

.black {
  --width: 50px;
  background-color: black;
  margin-left: calc(var(--width) / -2);
  margin-right: calc(var(--width) / -2);
  z-index: 2;
}

.pressed {
  filter: brightness(80%);
}